<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114601649993-49j7q344kd10diq9aoc102l4t6hqq5tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114601649993-49j7q344kd10diq9aoc102l4t6hqq5tc</string>
	<key>API_KEY</key>
	<string>AIzaSyCttTLC0oz74l-sKT8YEQBubkPAoHyEFMs</string>
	<key>GCM_SENDER_ID</key>
	<string>114601649993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reactMessenger</string>
	<key>PROJECT_ID</key>
	<string>react-messenger-f2603</string>
	<key>STORAGE_BUCKET</key>
	<string>react-messenger-f2603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114601649993:ios:8d4c99f86fb55bd118dc98</string>
</dict>
</plist>